

<!DOCTYPE html>
<html>
<head>
<title>Dog Lover Website</title>
</head>
<body>
<h1>Add a New Dog</h1>
<form action="/add_dog" method="post">
<label for="name">Name:</label><br>
<input type="text" id="name" name="name"><br>
<label for="age">Age:</label><br>
<input type="number" id="age" name="age"><br>
<label for="breed">Breed:</label><br>
<input type="text" id="breed" name="breed"><br>
<label for="description">Description:</label><br>
<textarea id="description" name="description"></textarea><br><br>
<input type="submit" value="Submit">
</form>
</body>
</html>


